/* Challenge 8: Change the type of font to Arial for all elements */
html{font-family: Arial, Helvetica, sans-serif;}

/* Challenge 9: Change the background color for all elements with a class of banner.  Choose a color
                using rgb( )
*/
.banner{background-color: rgb(206, 146, 17);}
/* Challenge 10: Change the background color for all elements with a class of subbanner.  Choose a color
                using a hexdecimal value. 
*/
.subbanner{background-color: #e6c821;}
/* Challenge 11: Change the radius of the border to 6px and height to 200px for all images inside of all 
                 elements with a class of gallery 
*/
.gallery{border-radius: 6px;
    ;}
/* Challenge 12: When the visitor moves their mouse over images inside of the element with an id of firstGallery,
                 apply some type of styling using the filter( ) effect
*/
#firstGallery{
    filter:grayscale(100)
}
/* Challenge 13: When the visitor moves their mouse over images inside of the element with an id of secondGallery,
                 apply some other type of styling.
*/
#firstGallery:hover{
    filter: grayscale(0)
}

#secondGallery:hover{
    filter:contrast(50)
    
}




/* Challenge 14: Change the transition for all elements to 1 second */
html{
    transition:cubic-bezier(0.19, 1, 0.22, 1)
}